# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python environment files
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.manifest
*.spec

# pytest cache
.cache/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json

# PyInstaller
*.spec

# pipenv
Pipfile.lock

# Pylint
pylint-report.txt
pylint-global.txt

# Environments
.envrc
